.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2)
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: rgb(46, 46, 173);
}

/* To Hide bullets */
/* .swiper-pagination {
    display: none;
} */